In [34]:
print('The name of the company : Fresh Mart')

The name of the company : Fresh Mart

In [35]:
print('The year of establishment: ', 1983)

The year of establishment:  1983

In [36]:
print('Total turnover of the company this year in Million $ is 1.5 ')

Total turnover of the company this year in Million $ is 1.5

In [37]:
print('Name : Anna Elsa Luiz ')
print('Domain: Data Scientist')
print( 'Experience: 2 years ')

Name : Anna Elsa Luiz
Domain: Data Scientist
Experience: 2 years

In [44]:
print('The name of the company                                :Fresh Mart')
print('The year of establishment                              :',1983)
print('Total turnover of the company this year in Million $   :1.5 Million')
print('Name of the Employee                                   :Anna Elsa Luiz ')
print('Domain                                                 :Data Scientist')
print('Experience                                             :2 years ')

The name of the company                                :Fresh Mart
The year of establishment                              : 1983
Total turnover of the company this year in Million $   :1.5 Million
Name of the Employee                                   :Anna Elsa Luiz
Domain                                                 :Data Scientist
Experience                                             :2 years

In [39]:
turnover = 1.5 
Company_name = 'Fresh Mart'
Year = 1983

print(Company_name, 'turnover is ' , turnover, 'Million in ', Year)

Fresh Mart turnover is  1.5 Million in  1983

In [45]:
type(turnover )

float

In [46]:
type(Company_name)

str

In [49]:
type(Year)

int

In [52]:
stock_1 = 0.2
print('Price of Stock_1 in Million $ :', stock_1)
price_updated = stock_1 + stock_1
print('Price of Stock_2 in Million $ :', price_updated)

Price of Stock_1 in Million $ : 0.2
Price of Stock_2 in Million $ : 0.4

In [59]:
stock_1 = 0.2
print('Price of one  Stock in Million $ :', stock_1)
price_updated = 10 * stock_1 
print('Price of 10 Stocks in Million $ :', price_updated)

Price of one  Stock in Million $ : 0.2
Price of 10 Stocks in Million $ : 2.0

In [55]:
2**2

4

In [56]:
3**2

9

In [4]:
downtime_hours = 90
total_time = 2500
average_downtime = downtime_hours / total_time * 100
print('The Average Downtime Hours for last month is ', average_downtime)

The Average Downtime Hours for last month is  3.5999999999999996

Incidents per employee per month

In [4]:
safety_incidents = 35
Total_employees = 2561
safety_per_employee = Total_employees / safety_incidents
safety_per_employee

73.17142857142858

In [5]:

#Data Structure

In [8]:
stocks = ['Tv', 'Laptop', 'Mobile Phone', 'Table fan']
print('In stock:',stocks)

In stock: ['Tv', 'Laptop', 'Mobile Phone', 'Table fan']

In [9]:
stock1= 'Tv'
stock2= 'Laptop'
stock3= 'Mobile Phone'
stock4= 'Table fan'

In [11]:
print('In stock:',stock1, ',',stock2,',',stock3,',',stock4)

In stock: Tv , Laptop , Mobile Phone , Table fan

In [13]:
stocks_1 = ['Tv', 'Laptop', 'Mobile Phone', 'Table fan', 'Tv']
stocks_1

['Tv', 'Laptop', 'Mobile Phone', 'Table fan', 'Tv']

In [14]:
production = [200, 600, 400,300]
print('Production:', production)

Production: [200, 600, 400, 300]

In [54]:
stocks = ['Tv', 'Laptop', 'Mobile Phone', 'Table fan']
sales = [ 200,652,412,123]
#print(stocks)
#print(sales)
print('Stocks:Sales ::',stocks[0],':',sales[0], ',',stocks[1],':',sales[1],',',stocks[2],':',sales[2],',',stocks[3],':',sales[3],)

Stocks:Sales :: Tv : 200 , Laptop : 652 , Mobile Phone : 412 , Table fan : 123

In [36]:
Sales = {'Tv':200, 'Laptop':652, 'Mobile Phone':412, 'Table fan':123}
Sales

{'Tv': 200, 'Laptop': 652, 'Mobile Phone': 412, 'Table fan': 123}

In [20]:
stocks.append('Printer')

In [7]:
stocks

['Tv', 'Laptop', 'Mobile Phone', 'Table fan', 'Printer']

In [21]:
stocks.remove('Table fan')

In [9]:
stocks

['Tv', 'Laptop', 'Mobile Phone', 'Printer']

In [22]:
stocks.insert(1,'Scanner')
stocks

['Tv', 'Scanner', 'Laptop', 'Mobile Phone', 'Printer']

In [29]:
del stocks[1:3]
stocks

['Tv', 'Table fan']

In [39]:
stocks = ['Tv', 'Laptop', 'Mobile Phone', 'Table fan']

del stocks[-1]
stocks

['Tv', 'Laptop', 'Mobile Phone']

In [53]:
stocks = ['Tv', 'Laptop', 'Mobile Phone', 'Table fan']
stocks.remove(stocks[-1])
stocks

['Tv', 'Laptop', 'Mobile Phone']

In [52]:
print(stocks[2:])

['Mobile Phone', 'Table fan']

In [55]:
print(stocks[1:3])

['Laptop', 'Mobile Phone']

In [78]:
x= [0,1,2,3,4,5,6,7,8,9]
x[-1]
x[-2:-11:-2]

[8, 6, 4, 2, 0]

In [81]:
x= [0,1,2,3,4,5,6,7,8,9]

del x[-2:-5]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]