In [2]:
#find largest among three numbers
a= input("Enter a number:a=")
b=input("Enter a number:b=")
c=input("Enter a number:c=")

if a>b and a>c:
    print("a is the greatest")
elif b>a and b>c:
    print("b is the greatest")
else:
    print("c is the greatest ")

Enter a number:a= 12
Enter a number:b= 23
Enter a number:c= 56

c is the greatest

In [3]:
#find largest among three numbers
a=float( input("Enter the number:a="))
b=float(input("Enter the number:b="))
c=float(input("Enter the number:c="))

if a>b and a>c:
    print("a is the greatest",a)
elif b>a and b>c:
    print("b is the greatest",b)
else:
    print("c is the greatest ",c)

Enter the number:a= 21
Enter the number:b= 12.2
Enter the number:c= 21.3

c is the greatest  21.3

In [4]:
#Let us make simple calculator which takes the choice of operation from user.
#also user enter two numbers which needed to be computed.

choice=input("Enter your choice of calculation(+ , - , * , /)")
a= float(input("Enter the number:a="))
b=float(input("Enter the number:b=")) 
             
if choice == "+": 
             print("Addition of a and b is :",a+b)
elif choice== "-" :
             print("Subtraction of a and b is : ",a-b)
elif choice=="*" :
             print("Multiplication of a and b is : ",a*b)
else :
             print("Division of a and b is :", a/b)

Enter your choice of calculation(+ , - , * , /) +
Enter the number:a= 5
Enter the number:b= 6

Addition of a and b is : 11.0

In [12]:
# choice=input("Enter your choice of calculation(+ , - , * , /)")
a= float(input("Enter the number:a="))
b=float(input("Enter the number:b=")) 
             
if choice == "+": 
             print(a,"+",b,"=",a+b)
elif choice== "-" :
             print(a,"-",b ,"=",a-b)
elif choice=="*" :
             print(a,"*",b,"=",a*b)
elif choice=="/":
             print(a,"/",b,"=" ,a/b)
else:
    print("Invalid input")

Enter the number:a= 23
Enter the number:b= 21

23.0 - 21.0 = 2.0

In [6]:
#we have 3 positions : Executive, Manager, Senior Manager
#take input from the user "Designation" and print salary range of that designation

Designation= input("Enter the designation 1 for Executive, 2 for Manager, 3 for Senior Manager")

if Designation == "1" :
    print("Salary Range of Executive is 30,000-50,000")
elif Designation == "2" :
    print("Salary Range of Manager is  60,000-80,000")    
elif Designation == "3" :
    print("Salary Range of Senior manager is 90,000-1,20,000")   
else:
     print("Invaild designation.")

Enter the designation 1 for Executive, 2 for Manager, 3 for Senior Manager 1

Salary Range of Executive is 30,000-50,000

In [7]:
Designation= input("Enter the designation Executive,  Manager,  Senior Manager")
Designation= Designation.lower()

if Designation == "executive" :
    print("Salary Range of Executive is 30,000-50,000")
elif Designation == "manager" :
    print("Salary Range of Manager is  60,000-80,000")    
elif Designation == "senior manager" :
    print("Salary Range of Senior manager is 90,000-1,20,000")   
else:
     print("Invaild designation.")

Enter the designation Executive,  Manager,  Senior Manager 3

Invaild designation.

In [8]:
Designation= input("Enter the designation Executive,  Manager,  Senior Manager")
Designation= Designation.upper()

if Designation == "EXECUTIVE" :
    print("Salary Range of Executive is 30,000-50,000")
elif Designation == "MANAGER" :
    print("Salary Range of Manager is  60,000-80,000")    
elif Designation == "SENIOR MANAGER" :
    print("Salary Range of Senior manager is 90,000-1,20,000")   
else:
     print("Invaild designation.")

Enter the designation Executive,  Manager,  Senior Manager manger

Invaild designation.

In [9]:
#for loop

#i=10
#for()
#   i=i+1

In [10]:
for i in range(5):# i=0, i=i+1, checking range, (upper limit will not be included)
        print(i)

0
1
2
3
4

In [11]:
for i in range(20):# starts at 0 and ends at 19 (upper limit will not be included)
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [44]:
for i in range(12,20):# starts at 12 and ends at 19(upper limit will not be included)
        print(i)

12
13
14
15
16
17
18
19

In [45]:
for i in range(12,20,2):# starts at 12 and ends at 20 having interval width 2
        print(i)        #(upper limit will not be included)

12
14
16
18

In [46]:
# Lets have for loop on list
fruits=["apple","grape","cherry","pineapple"]

for fruit in fruits:
    print(fruit)

apple
grape
cherry
pineapple

In [1]:
students=["Anna","Elsa","Luiz","Amal","Alfred","Antony"]

for student in students:
    print(student)

Anna
Elsa
Luiz
Amal
Alfred
Antony

In [16]:
#different way
students=["Anna","Elsa","Luiz","Amal","Alfred","Antony"]

for student in range(len(students)):
    print(students[student])
print(len(students))

Anna
Elsa
Luiz
Amal
Alfred
Antony
6

In [28]:
students=["Anna","Elsa","Luiz","Amal","Alfred","Antony"]
print(students[0])

print(students[2:4])

Anna
['Luiz', 'Amal']

In [30]:
#Examples of loops

#banks
#insurance
#credit limits

In [37]:
#complex example of for loop
# nested loops

# *
# * *
# * * *
# * * * * 
# * * * * *

row = 5

for i in range(row):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
row = 5
for i in range(1, row+1):
    
    for j in range(row-i):
        print(' ', end='')
        
    for k in range(2 * i - 1):
        print('*', end='')
    
    print()

    *
   ***
  *****
 *******
*********

In [12]:
row = 5
for i in range(1, row+1):
    
    for j in range(row-i):
        print('|', end='')
        
    for k in range(2 * i - 1):
        print(' ', end='')
    
    print()

||||
|||
||
|

In [2]:
def pattern(n):
    i=1
    while i<=n:
        print (" "*(n-i) + "* " * i)

In [54]:
# print("*",end=" ")
#print astericks sign
#end =" " to have space between *

In [40]:
row = 5

for i in range(row):
    for j in range(i+1):
        print(j,end=" ")
    print() #newline corrector

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [41]:
row = 5

for i in range(row):
    for j in range(i+1):
        print(j+1,end=" ")
    print() #newline corrector

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [57]:
rows = 6
# if you want user to enter a number, uncomment the below line
# rows = int(input('Enter the number of rows'))

for i in range(rows):         # outer loop
    for j in range(i):        # nested loop
        print(i, end=' ')     # display number
    print('')                 # new line after each row

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [58]:
#While loop


count = 1         #initial value 
while count <= 5: #checking the condition
    print(count)  # printing
    count += 1    # count= count+1 (incrementing)

1
2
3
4
5

In [59]:
count = 1
while count <= 5:
    count += 1     # count= count+1
    print(count)
                   #terminates when the conditions became wrong

2
3
4
5
6

In [60]:
count = 1
print(count)
while count <= 5:
    count += 1     # count= count+1
    print(count)
                   #terminates when the conditions became wrong

1
2
3
4
5
6

In [62]:
#another example

text= " "

while text != "quit" :
    text= input("Enter a word or quit to exit:")
    print("You entered :",text)

Enter a word or quit to exit: hello there

You entered : hello there

Enter a word or quit to exit: quit

You entered : quit

In [98]:
#for loop we used  generally we know when to stop
# while is generally use when stop condition will be satisfied, we do not know

#we have a list name=["Anna ","Elsa","Luiz","Annu"]
# we have another list salary =["100000","200000","300000","500000"]
#give  5% bonus to james as he is performing great . boss is happy.
# HaHaHa what a bullshit :)

name=["Anna ","Elsa","Luiz","Annu"]
salary =[100000,200000,300000,500000]


text= input("Is boss happy or not .Type 1 for 'yes' and 0 for 'no' ")

if text == "1":
        salary = salary[3]+ salary[3]* 0.05
        print("Congragulations Annu!!, your salary has incremented to" ,salary) 
        
        
else :
    print ("Sorry try harder")

Is boss happy or not .Type 1 for 'yes' and 0 for 'no'  1

Congragulations Annu!!, your salary has incremented to 525000.0

In [101]:
name= ["Anna ","Elsa","Luiz","Annu"]
salary =[100000,200000,300000,500000]


#first sub-problem is we will iterate both lists
#we need to update salary of james only 
print("old salary is:", salary)
for i in range(len(name)):
      if name[i] == "Annu":
            increment = salary[i] *0.05
            salary[i] += increment 
print("updated salary is: ", salary)

old salary is: [100000, 200000, 300000, 500000]
updated salary is:  [100000, 200000, 300000, 525000.0]

In [5]:
n = int(input())
for i in range(0,n):
        print(i**2)

 5

0
1
4
9
16

In [12]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
         print(i,end='')

 9

123456789