In [1]:
name="John Doe"
print(name)

John Doe

In [2]:
#indexing

print(name[1])

o

In [3]:
print(name[3])

n

In [4]:
print(name[4])

In [5]:
for i in "hello":
     print(i)

h
e
l
l
o

In [6]:
len("my name is anna")

15

In [15]:
tw = "My name is Anna Elsa Luiz"

In [16]:
print("not" in tw)

False

In [17]:
print(" " in tw)

True

In [18]:
print("A " in tw)

False

In [19]:
print("A" in tw)

True

In [21]:
#condition

if "not"  in tw:
    print("Data is in tw")

In [22]:
if "Anna" in tw:
    print("Data is in tw")

Data is in tw

In [25]:
if "a" not in tw:
    print("Data is not in tw")
else:
    print("Data is in tw")

Data is in tw

In [26]:
if "Ammu" not in tw:
    print("Data is not in tw")
else:
    print("Data is in tw")

Data is not in tw

In [27]:
if "ma" not in tw:
    print("Data is not in tw")
else:
    print("Data is in tw")

Data is not in tw

In [31]:
#slicing
#string name[start,end]
#start is inclusive
#end is exclusive

name= "John Doe"

In [32]:
print(name[0:4])

John

In [33]:
print(name[5:8])

Doe

In [36]:
word="My name is Anna Elsa Luiz"

In [35]:
print(word[0:2])

My

In [97]:
print(word[3:7])

name

In [38]:
print(word[8:10])

is

In [39]:
print(word[11:15])

Anna

In [40]:
print(word[16:20])

Elsa

In [41]:
print(word[21:25])

Luiz

In [46]:
print(word[:15]) # start till 14

My name is Anna

In [47]:
print(word[21:]) #start from 21 till end

Luiz

In [55]:
print(word[-5:]) #  len,...,-5,-4,-3,-2,-1

 Luiz

In [56]:
print(word[:-1])

My name is Anna Elsa Lui

In [57]:
print(word[-5:])

 Luiz

In [58]:
print(word[-14:])

Anna Elsa Luiz

In [59]:
print(word[-14:-10])

Anna

In [61]:
word.upper()  #upper()

'MY NAME IS ANNA ELSA LUIZ'

In [62]:
word.lower()  #lower()

'my name is anna elsa luiz'

In [63]:
word.replace(" " ,"_")  #replace()

'My_name_is_Anna_Elsa_Luiz'

In [64]:
word.replace("A", "a")

'My name is anna Elsa Luiz'

In [65]:
word.replace("Anna", "Ammu")

'My name is Ammu Elsa Luiz'

In [66]:
word.replace("Anna Elsa Luiz", "Ammu")

'My name is Ammu'

In [70]:
word.split(" ")   #split()

['My', 'name', 'is', 'Anna', 'Elsa', 'Luiz']

In [71]:
word.split("is")

['My name ', ' Anna Elsa Luiz']

In [75]:
#concatenate or join

n1= "Hey"
n2= " There!!"

n1+ n2

'Hey There!!'

In [77]:
n1= 'My'
n2= ' name'
n3= ' is'
n4= ' Anna'
n5= ' Elsa'
n6= ' Luiz'

n1 + n2 + n3 + n4 + n5 + n6

'My name is Anna Elsa Luiz'

In [92]:
#changing the elements using slicing

list1=["Apple","Orange","Berries"]
print(list1)
print("------------------------------")
list1[0]="Grapes"
print(list1)

['Apple', 'Orange', 'Berries']
------------------------------
['Grapes', 'Orange', 'Berries']

In [93]:
#replacing using slicing

list2=["Apple","Orange","Berries","Grapes","Pomegranate","Cherry"]
print(list2)
print("------------------------------------------------------------------")
list2[2:4]=["Dragon fruit","Passion Fruit"]
print(list2)

['Apple', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']
------------------------------------------------------------------
['Apple', 'Orange', 'Dragon fruit', 'Passion Fruit', 'Pomegranate', 'Cherry']

In [96]:
list2=["Apple","Orange","Berries","Grapes","Pomegranate","Cherry"]
print(list2)
print("------------------------------------------------------------------")
list2.insert(1,"Mango")
print(list2)

['Apple', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']
------------------------------------------------------------------
['Apple', 'Mango', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']

In [103]:
list2=["Apple","Orange","Berries","Grapes","Pomegranate","Cherry"]
print(list2)
print("------------------------------------------------------------------")
list2.insert(1,"Mango")  # in required position
print(list2)
list2.insert(2,"Guava")
print(list2)

['Apple', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']
------------------------------------------------------------------
['Apple', 'Mango', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']
['Apple', 'Mango', 'Guava', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']

In [104]:
list2=["Apple","Orange","Berries","Grapes","Pomegranate","Cherry"]
print(list2)
print("------------------------------------------------------------------")
list2.append("Mango")  # by default at the end 
print(list2)

['Apple', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry']
------------------------------------------------------------------
['Apple', 'Orange', 'Berries', 'Grapes', 'Pomegranate', 'Cherry', 'Mango']

In [105]:
A= ["black","white","yellow","red"]
B= ["grey","pink"]
A.extend(B)
print(A)

['black', 'white', 'yellow', 'red', 'grey', 'pink']

In [109]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
A.remove("black")
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['white', 'yellow', 'red']

In [5]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
A.remove("black")
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['white', 'yellow', 'red']

In [4]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
A.pop(1) #removing the specified element
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['black', 'yellow', 'red']

In [120]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
del A[1] 
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['black', 'yellow', 'red']

In [1]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
del A[1] # can remove a sequence of elements
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['black', 'yellow', 'red']

In [127]:
A= ["black","white","yellow","red"]
print(A)
print("-----------------------------------")
del A[1:3] # can remove a sequence of elements
print(A)

['black', 'white', 'yellow', 'red']
-----------------------------------
['black', 'red']

In [126]:
A=  ["black","white","yellow","red"]
for i in A:
    print(i)

black
white
yellow
red

In [125]:
A=  ["black","white","yellow","red"]
for i in range(len(A)):  #index values of the elements 
    print(A[i])

black
white
yellow
red

In [5]:


list1 = ["Apple","Orange","Grape","Pineapple"]
newlist= []

for i in list1:
    if "O" in i:
        newlist.append(i)
print(newlist)

['Orange']

In [27]:
list1 = ["Apple","Orange","Grape","Pineapple"]
newlist= []

for i in list1:
    if "G" in i:
        newlist.append(i)
print(newlist)

['Grape']

In [28]:
newlist = [i for i in list1 if "G" in i] # #list comprehension
print(newlist)

# [i , for i in list1, if "G" in i ]

['Grape']

In [29]:
newlist = [i for i in list1 if "ran" in i] # #list comprehension
print(newlist)

['Orange']

In [30]:
list1 = ["Apple","Orange","Grape","Pineapple"]
list1.sort()   # by default ascending order
print(list1)

['Apple', 'Grape', 'Orange', 'Pineapple']

In [31]:
list1 = ["Apple","Orange","Grape","Pineapple"]
list1.sort(reverse=True)  #descending order
print(list1)

['Pineapple', 'Orange', 'Grape', 'Apple']

In [26]:
a= [12,52,36,42,89,12,36,25]
a.sort(reverse=True)      #descending order
print(a)

[89, 52, 42, 36, 36, 25, 12, 12]

In [32]:
a= [12,52,36,42,89,12,36,25]
a.sort()      #descending order
print(a)

[12, 12, 25, 36, 36, 42, 52, 89]

In [34]:
list1 = ["Apple","Orange","Grape","Pineapple"]
list2=list1.copy()
print(list2)

['Apple', 'Orange', 'Grape', 'Pineapple']

In [36]:
tup1= ("apple","orange")
print(tup1)

('apple', 'orange')

In [37]:
tup1= ("apple","orange")
print(tup1[0])

apple

In [38]:
tup2 = ("Apple","Orange","Grape","Pineapple")
print(tup1[0:3])

('apple', 'orange')

In [39]:
tup2.insert(1, "lemon") #cannot manipulate tuples
                        #immutable

AttributeError: 'tuple' object has no attribute 'insert'

In [41]:
tup2 = ("Apple","Orange","Grape","Pineapple") #cannot manipulate tuples
                                              #immutable 
tup2= tup2.append("lemon")

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
tup2 = ("Apple","Orange","Grape","Pineapple")   #cannot manipulate tuples
                                                #immutable 
tup2.remove("Orange")

AttributeError: 'tuple' object has no attribute 'remove'

In [48]:
tup2 = ("Apple","Orange","Grape","Pineapple")
for i in tup2 :
    print(i)

Apple
Orange
Grape
Pineapple

In [51]:
tup2 = ("Apple","Orange","Grape","Pineapple")
for i in range(len(tup2)) :
    print(tup2[i])

Apple
Orange
Grape
Pineapple

In [54]:
tup1= (1,2,3,4,5,6)
tup2 = ("Apple","Orange","Grape","Pineapple")

tup1 + tup2    #heterogenous

(1, 2, 3, 4, 5, 6, 'Apple', 'Orange', 'Grape', 'Pineapple')