In [2]:
set1={"UK","USA","UAE","UN"}
print(set1)

{'UK', 'USA', 'UAE', 'UN'}

In [3]:
# we can change the list but not tuple
# cannot have duplicates

In [4]:
#print only unique values 
set1 = {"UK","USA","UAE","UN","UN"} 
set1

{'UAE', 'UK', 'UN', 'USA'}

In [5]:
#count only unique values 
set1 = {"UK","USA","UAE","UN","UN"} 
print(len(set1))

4

In [6]:
type(set1)

set

In [7]:
#set() constructor
#instead of {} use ()
set1= set(("UK","USA","UAE","UN","UN")) 
set1

{'UAE', 'UK', 'UN', 'USA'}

In [8]:
#union()

set1= {"UK","USA","UAE","UN","UN"} 
set2= {1,2,3,4}

#union()
set3 = set1.union(set2)
print(set3)  

#CONCATENATION------------------>

{1, 2, 3, 'UN', 4, 'UAE', 'UK', 'USA'}

In [9]:
#intersection()

set1= {"UK",2,"UAE","UN","UN"} 
set2= {1,2,3,4}

#union()
set3 = set1.intersection(set2)
print(set3)

{2}

In [10]:
#intersection()

set1= {"UK","USA","UAE","UN","UN"} 
set2= {1,2,3,4}

#union()
set3 = set1.intersection(set2)
print(set3)

set()

In [11]:
#intersection_update()

set1= {"UK","USA","UAE","UN","UN"} 
set2= {1,2,3,4}

#union()
set1.intersection_update(set2)
print(set1)

set()

In [12]:
#intersection_update()

set1= {"UK",2,"UAE","UN","UN"} 
set2= {1,2,3,4}

#intersection
set1.intersection_update(set2)
print(set1)

{2}

In [13]:
#update()

#In 'update()' just updating the already created set.
#whereas in 'union()' another set is being created.

set1= {"UK","USA","UAE","UN","UN"} 
set2= {1,2,3,4}

set1.update(set2) 
set1

{1, 2, 3, 4, 'UAE', 'UK', 'UN', 'USA'}

In [14]:


set1= {"UK","USA","UAE","UN","UN"} 
set2= {1,2,3,4}

set2.update(set1)
set2

{1, 2, 3, 4, 'UAE', 'UK', 'UN', 'USA'}

In [15]:
#difference 

set1= {"UK","USA",1,2,"UAE","UN","UN"} 
set2= {1,2,3,4,"UN"}

set1.symmetric_difference_update(set2)
print(set1)

{3, 'UAE', 4, 'UK', 'USA'}

In [16]:
#person participating in two teams will be disqualified 

team1={"tom","alex","ravi","appu"}
team2={"anu","appu","malu","zach"}

team1.symmetric_difference_update(team2)
print("qualified participants are:", team1)

qualified participants are: {'anu', 'ravi', 'tom', 'zach', 'alex', 'malu'}

In [17]:
team1={"tom","alex","ravi","appu"}
team2={"anu","appu","malu","zach"}

team3= team1.symmetric_difference(team2)
print("qualified participants are:", team3)

qualified participants are: {'anu', 'ravi', 'tom', 'alex', 'zach', 'malu'}

In [18]:
team1={"tom","alex","ravi","appu"} #indexing cannot be done as it is not ordered
for i in team1:
    print(i)

tom
appu
alex
ravi

In [19]:
#dictionaries
#In python 3.7 are ordered 
#In previous vaersion they are unordered
#dont allow duplicate values 

d1={"name":"Alice","Age":23,"city":"Ernakulam"}
print(d1)

{'name': 'Alice', 'Age': 23, 'city': 'Ernakulam'}

In [20]:
print(d1["name"])

Alice

In [21]:
#duplicates are not allowed in dict
#neglecting same key values and 
#its always consider the last key-value pair

d2= {"name":"Alice","Age":23,"city":"Ernakulam","city":"Tvm"}
print(d2)

{'name': 'Alice', 'Age': 23, 'city': 'Tvm'}

In [22]:
#to know the keys alone
keys=d1.keys() 
print(keys)

dict_keys(['name', 'Age', 'city'])

In [23]:
#To know the values alone
values=d1.values()
print(values)

dict_values(['Alice', 23, 'Ernakulam'])

In [24]:
for i in keys :
    print(i)

name
Age
city

In [25]:
for i in values :
    print(i)

Alice
23
Ernakulam

In [26]:
len(d2) #duplicated key value excluded

3

In [27]:
type(d2)

dict

In [28]:
print(type(d2))

<class 'dict'>

In [29]:
# dictionary constructor 

d3= dict(Name="Anna",Age=23)
print(d3)

{'Name': 'Anna', 'Age': 23}

In [30]:
#Changing the name 

d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2["name"]= "Marie"
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'name': 'Marie', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}

In [31]:
#using uodate()

d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2.update({"name":"Marie"})  #replacing already existing value 
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'name': 'Marie', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}

In [32]:

d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2["Grade"]= "A"
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm', 'Grade': 'A'}

In [33]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2.update({"Grade":"A"})  #Adding a new kay-value 
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm', 'Grade': 'A'}

In [34]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2.update({"Grade":"A","Category":"Excellent"})  #Adding a new kay-value 
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm', 'Grade': 'A', 'Category': 'Excellent'}

In [35]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
d2.pop("name")  #deleting a specified key value pair 
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}

In [36]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)
print("-----------------------------------------------------------")
del d2["name"]  #deleting a specified key value pair 
print(d2)

{'name': 'Alice', 'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}
-----------------------------------------------------------
{'Age': 23, 'Roll No.': 312, 'city': 'Tvm'}

In [37]:
# deleting the who0le dict
del d2
print(d2)

NameError: name 'd2' is not defined

In [ ]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}
print(d2)

In [38]:
d2.clear()

NameError: name 'd2' is not defined

In [39]:
print(d2)

NameError: name 'd2' is not defined

In [40]:
len(d2)

NameError: name 'd2' is not defined

In [41]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}


for i in d2:
    print(i)

name
Age
Roll No.
city

In [42]:
d2= {"name":"Alice","Age":23,"Roll No.":312,"city":"Tvm"}

for i in d2.values():
    print(i)

Alice
23
312
Tvm

In [47]:
d3= {"name":"Alice","Age":23,"Designation":312,"city":"Tvm","Salary":200000}
d4= d3.copy()
print(d4)

{'name': 'Alice', 'Age': 23, 'Designation': 312, 'city': 'Tvm', 'Salary': 200000}

In [49]:
#nested dictionaries

d= {"d1":{"name":"Anna","Age":23},"d2":{"name":"Elsa","Age":23},"d3":{"name":"Luiz","Age":23}}
print(d)

{'d1': {'name': 'Anna', 'Age': 23}, 'd2': {'name': 'Elsa', 'Age': 23}, 'd3': {'name': 'Luiz', 'Age': 23}}

In [50]:
#general functions 
#(1)built in functions-----> # It is there in python.
                             # no need to code.
                             # Already there we are just using it.
                             # saves time
                             # speeds up time 

#(2)user defined functions---> # customise our own function
                               #
#benefits 
# you can use multiple times

In [53]:
#declaring a function

#keyword-->def
#funt name--> MyFirstFunction

def MyFirstFunction():  
    print("This is our third week")

In [54]:
#calling a function

MyFirstFunction()

This is our third week

In [1]:
# (name) -->name:argument

def MyFirstFunction(name):  
    print(name + " sings well")
MyFirstFunction("Anna")

Anna sings well